mysql-connector-python==9.4.0
transformers
sentence_transformers
nltk
fastapi
uvicorn
Markdown
PyYAML
scikit-learn
torch
lightgbm
tensorflow
pandas
numpy
seaborn
requests
torchvision
niquests
nest_asyncio
urllib3<2
aio-pika
